.sidebar-container {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 75px;
    z-index: 11;
}
.sidebar-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover {
    background-color: rgb(236, 234, 234);
    border-radius: 20px;
}
.sidebar-link img {
    height: 23px;
}
.sidebar-link div {
    font-family: Roboto ,Arial;
    font-size: 10px;
}