.image {
    width: 100%;
}
.video-title {
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom: 13px;
}
.chanel-image {
    width: 100%;
    border-radius: 25px;
}
.chanel-pic {
    margin-right: 3px;
}
.video-author , .video-stats {
    font-size: 0.8em;
    color: rgb(96, 96, 96);
}
.video-author {
    margin-bottom: 4px;
}
.image-container{
    margin-bottom: 10px;
    position: relative;
}
.video-time {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 7px;
    font-size: 0.8em;
    font-family: Roboto , arial ;
    padding: 2px 4px;
    border-radius: 2px;
}
.video-pic-info{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width : 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 751px ) and (max-width :999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width : 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}