header {
    font-size: 1em;
}

/* navigation section */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right{
    display: flex;
    align-items: center;
}

header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}

header nav .nav-left .register-login-btn{
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

header nav .nav-left .register-login-btn i{
    color: #444;
    font-size: 1.1em;
}

header nav .nav-left .register-login-btn a{
    color: #444;
    margin: 0px 10px;
    font-size: 0.9em;
}
/* slider section */
.slider{
    position: relative;
    font-size: 1em;
}

.slider .slides .item{
    position: relative;
    display: none;
}

.slider .slides .item img{
    width: 100%;
}

.slider .slides .item span{
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 40%;
    color: #222;
    font-size: 1.5em;
}

.slider .slides .active{
    display: block;
    animation-name: fade-in;
    animation-duration: 1s;
}

.slider .butens{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .butens i{
    color: white;
    margin-right: 5px;
    cursor: pointer;
}
.slider .butens i:hover{
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width : 750px){
    .slider .slides .item span{
        font-size: 0.7em;
    }
    header nav {
        font-size: 0.8em;
    }
}