.main-box{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.main-box header{
    padding: 20px;
}

.main-box header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-box header nav .right{
    display: flex;
    flex-direction: row;
}

.main-box header nav .right i{
    color: #0077b6;
    font-size: 1.5em;
    margin: 5px 0px;
    cursor: pointer;
}

.main-box header nav .right .search{
    margin-right: 15px;
    width: 200px;
    position: relative;
}

.main-box header nav .right .search input{
    background-color: #e9ecef;
    border: none;
    border-radius: 5px;
    padding: 5px 0px;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-box header nav .right .search i{
    color: #888;
    font-size: 1.1em;
    margin-left: 30px;
    position: absolute;
    left: 8px;
    top: 2px;
    cursor: pointer;
}

.main-box header nav .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120px;
}

.main-box header nav .left a{
    color: #444;
    font-size: 1.2em;
}

.main-box header .header-message{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-box header .header-message h3{
    color: #222;
}

.main-box header .header-message a{
    background-color: #e9ecef;
    color: #666;
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-box .holder{
    display: flex;
    flex-direction: column;
    background-color: #dee2e6;
    padding: 30px;
    min-height: 550px;
}

.main-box .holder .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 0px 30px;
}

.main-box .holder .boxes .box{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-box .holder .boxes .box .right{
    background-color:  #f5f5f5;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.main-box .holder .boxes .box .right i{
    color: #0077b6;
}

.main-box .holder .boxes .box .left{
    padding: 10px 0px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.main-box .holder .boxes .box .left .text{
    color: #0077b6;
    font-size: 1.1em;
}

.main-box .holder .boxes .box .left .price{
    color: #222;
    font-size: 0.8em;
    font-weight: bold;
}

.main-box .holder .revenue-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.main-box .holder .revenue-box .head{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 13px;
}

.main-box .holder .revenue-box .head .right{
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    align-content: center;
}

.main-box .holder .revenue-box .head .left{
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
}

.main-box .holder .revenue-box .head .left i{
    color: #444;
    cursor: pointer;
}

.main-box .holder .revenue-box .content{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:999px){
    .main-box .holder .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    }
}