.panel{
    display: grid;
    grid-template-columns: 2fr 8fr;
    font-size: 1em;
}

.panel-min{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 1em;
    border-left: solid 1px #dee2e6;
}

.menu .user-info{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.menu .user-info .imge-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.menu .user-info .imge-name img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.menu .user-info .imge-name .name-butn{
    padding: 3px 10px;
    color: #444;
}

.menu .user-info .imge-name .name-butn .name{
    margin-left: 10px;
}

.menu .user-info .imge-name .name-butn i{
    cursor: pointer;
}

.menu .user-info .details{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.menu .user-info .details .details-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    padding-left: 20px;
}

.menu .user-info .details .details-item span{
    font-size: 0.8em;
    color: #444;
}

.menu .menu-btns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu .menu-btns .menu-btn{
    padding: 20px 0px;
    font-size: 1.2em;
}

.menu .menu-btns .menu-btn:hover{
    background-color: #fafafa;  
}

.menu .menu-btns .menu-btn .item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 30px;
}

.menu .menu-btns .menu-btn .item i{
    margin-left: 10px;
    color: #0077b6;
}

.menu .menu-btns .menu-btn .item span{
    color: #444;
}

.menu .menu-btns .active{
    background-color:#f5f5f5;
}

.menu .menu-btns .active .item span{
    color: #0077b6;
}
