.login-container{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% ); ;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    padding: 30px;
}

.login-box{
    font-size: 0.8em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .1);
    padding: 25px 35px;
    color: white;
    margin: 20px 30px;
    height: 70%;
}

.login-box form .input-group{
    margin: 30px 0px;
}

.login-box form .input-group label{
    display: block;
}

.login-box form .input-group input{
    background: none;
    border-radius: 20px;
    border: solid 2px white;
    margin-top: 20px;
    padding: 10px;
    color: white;
    width: 100%;
    outline: none;
}

.login-box form .do-you-have a{
    color: #eb4d4b;
}

.login-box form .submit-btn-container{
    text-align: center;
}

.login-box form .submit-btn-container input{
    background-color: #eb4d4b;
    border: none;
    border-radius: 35px;
    color: white;
    padding: 10px 40px;
    font-size: 1.4em;
    cursor: pointer;
}

.login-box .social-auth{
    display: flex;
    justify-content: space-around;
    border-top: solid 1px rgba(255, 255, 255, .8);
    margin-top: 30px;
    padding-top: 20px;
}

.login-box .social-auth a{
    color: white;
    font-size: 1.9em;
}

.login-image{
    display: flex;
    width: 100%;
}

.login-image img{
    width: 100%;
}

@media (max-width:750px){
    .login-container{
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        height: 100%;
    }

    .login-box{
        height: 75%;
    }
}

@media (min-width:750px) and (max-width:999px){
     .login-container{
        font-size: 0.8em;
        grid-template-columns: 3fr 2fr;
     }
}

@media (min-width:1000px){

}

